[gerrit]
        basePath = git
        canonicalWebUrl = http://192.168.0.121/gerrit/
[database]
        type = h2
        database = db/ReviewDB
[auth]
        type = OPENID
[sendemail]
        smtpServer = 127.0.0.1
[container]
        user = root
        javaHome = /usr/lib/jvm/java-7-oracle/jre
[sshd]
        listenAddress = *:29418
[httpd]
        listenUrl = http://*:8080/
[cache]
        directory = cache

