<!doctype html>
<html lang="en" ng-app="dashboard">
  <head>
    <meta charset="utf-8">
    <title>Docker Dashboard</title>
    <script type="text/javascript" src="/static/angular/angular.min.js"></script>
    <script type="text/javascript" src="/static/underscore/underscore-min.js"></script>
    <script type="text/javascript" src="/static/dashboard/app.js"></script>
    <link rel="stylesheet" href="/static/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="/static/dashboard/app.css">
  </head>
  <body>
    <div id="header" class="header navbar navbar-static-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="navbar-brand" href="/">Docker Dashboard</a>
					<div class="busy" ng-show="busy">&nbsp;</div>
        </div>
      </div>
    </div>
    <div class="container page">
      <div id="content" class="container main" ng-view>
      </div>

      <hr>
      <footer id="footer" class="footer">
        <div class="footer-left">
          <a href="/">Home</a>
        </div>
        <div class="footer-right">
          <span>&copy; Jacob Lewallen 2013</span>
        </div>
      </footer>
    </div>
  </body>
</html>
