<div class="busy" ng-show="busy">
  <h3>Loading...</h3>
</div>

<div class="manifest" ng-show="model">
  <h2>{{model.manifest.path}}</h2>

  <button class="btn btn-info" ng-click="startManifest()">Start</button>
  <button class="btn btn-warning" ng-click="killManifest()" ng-show="model.manifest.can_kill">Kill</button>
  <button class="btn btn-danger" ng-click="destroyManifest()" ng-show="model.manifest.can_destroy">Destroy</button>

  <div ng-repeat="group in model.manifest.groups" class="group">

		<h4>{{group.name}}</h4>

		<div class="actions">
			<button class="btn btn-info btn-small" ng-click="startGroup(group)">Start</button>
			<button class="btn btn-warning btn-small" ng-click="killGroup(group)" ng-show="group.can_kill">Kill</button>
			<button class="btn btn-danger btn-small" ng-click="destroyGroup(group)" ng-show="group.can_destroy">Destroy</button>
		</div>

    <div ng-repeat="instance in group.instances" class="instance panel" ng-class="{ 'panel-success': instance.running, created: instance.created }">
      <div class="panel-heading">
        <h3 class="panel-title">{{instance.name}}</h3>
      </div>

      <table class="table" ng-show="instance.created">
        <tr>
          <th> ID </th>
          <td> {{instance.short_id}} </td>
        </tr>
        <tr>
          <th> IP </th>
          <td> {{instance.ip}} </td>
        </tr>
        <tr>
          <th> Created </th>
          <td> {{instance.created_at}} </td>
        </tr>
        <tr>
          <th> Started </th>
          <td> {{instance.started_at}} </td>
        </tr>
      </table>

      <div ng-hide="instance.created">
        Not Created
      </div>
    </div>
  </div>
</div>
