<div class="floating-panel">
  <div class="panel" ng-class="{ 'panel-success': model.instance.running, created: model.instance.created }">
    <div class="panel-heading">
      <h3 class="panel-title">{{model.instance.name}}</h3>
    </div>
    <table class="table table-condensed" ng-show="model.instance">
			<tbody>
      <tr>
        <th> ID </th>
        <td> {{model.instance.short_id}} </td>
      </tr>
			<tr ng-show="instance.ip">
        <th> IP </th>
        <td> {{model.instance.ip}} </td>
      </tr>
			</tbody>
    </table>
  </div>
</div>
<div class="logs">{{model.logs}}</div>
