.group {
	clear: both;
}

.instance {
	width: 450px;
	float: left;
	margin-right: 10px;
}

.actions {
	margin-bottom: 10px;
}

html {
	overflow-y: scroll;
}

.busy {
	background-image: url("../images/busy.gif");
	margin-top: 15px;
	margin-left: 170px;
	width: 31px;
  height: 31px;
}

.logs {
  white-space: pre;
  font-family: monospace;
  font-size: 11px;
}

.actions-rare {
  float: right;
}
